*.exe
*.o
*.i
*.elf
*.gba
!data/*.gba
*.sgm
*.sa1
*.ss[0-9]
*.sg1
*.1bpp
*.4bpp
*.8bpp
*.gbapal
*.lz
*.rl
*.latfont
*.hwjpnfont
*.fwjpnfont
sound/**/*.bin
sound/songs/midi/*.s
tools/agbcc
*.map
*.bat
*.dump
*.sa*
Thumbs.db
build/
.DS_Store
*.ddump
.idea/
porymap.*.cfg
prefabs.json
.vscode/
*.a
.fuse_hidden*
*.sna
*.diff
*.sym
*.js
/pokeemerald-*.png
/pokeemerald_modern-*.png
/tools/gbagfx/*.png
/tools/gbagfx/*.pal
/tools/gbagfx/*.4bpp
/tools/gbagfx/*.8bpp
/tools/ygo_card_converter/Artwork/*.jpg
/tools/ygo_card_converter/Sprites/*.png
/tools/ygo_card_converter/Sprites/Icons/*.png
/tools/ygo_card_converter/Sprites/Icons/Original/*.png
/tools/ygo_card_converter/Sprites/*.pal
/tools/ygo_card_converter/Sprites/Icons/*.pal
/tools/ygo_card_converter/Sprites/*.4bpp
/tools/ygo_card_converter/Sprites/Icons/*.4bpp
/tools/ygo_card_converter/Sprites/*.8bpp
/tools/ygo_card_converter/Sprites/Icons/*.8bpp